<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>test</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/assets/css/pages/email.css}">
<link rel="stylesheet" th:href="@{/assets/vendors/iconly/bold.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.css}">
<link rel="stylesheet"
	th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/assets/css/app.css}">
<link rel="shortcut icon" th:href="@{/images/egovframework/com/ego/egowaeyofavicon.png}"
	type="image/x-icon">
<script
	src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.13.3/themes/smoothness/jquery-ui.css">
	<link href="https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap" rel="stylesheet">
<style>
body, html {
	
	 font-family: "42dot Sans", sans-serif;
}
.mainHeader header {
	height: 80px;
	background: #fff;
	z-index: 1100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	padding: 0 1rem;
}
#slide-panels {
	position: fixed;
	top: 60px;
	left: 5rem;
	width: 250px;
	height: 100vh;
	background: #F8F9FA;
	border-right : 1px solid;
	display: none;
	z-index: 900;
}
#main-wrapper {
	
	padding: 0px;
}
.row>* {
    padding-top: calc(var(--bs-gutter-x) / 2);
}
.no_dot {
		list-style-type: none;
    }
.minnn{
        min-height: 90vh;
    }
    .img-icon{
        width: 18px;
        height: 18px;
        float: right;
    }
</style>
	<script
		th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>
<body onload="init()">
	<div id="app">
		<!-- header start -->
		<div class="mainHeader">
		<div th:replace="~{layout/header :: headerFragment }"></div>
		</div>
		<!-- header end -->
		<!-- aside start -->
		<div th:replace="~{layout/sidebar :: asideFragment }"></div>
		<!-- aside end -->
		<!-- contents start -->
		<!-- 페이지 마다 내용이 바뀌는 공간을 미리 정의 -->
		<div id="main-wrapper" class="minnn">
		<div id="main">
            <div class="page-heading">
            </div>
			<main id="main-content" layout:fragment="content">
				<!-- 각 페이지에서 삽입될 콘텐츠 영역 -->
			</main>
			</div>
		</div>
		<!-- <div id="rightcolumn" style="overflow: scroll">
		</div> -->
		<!-- contents end -->
		<!-- footer start -->
		<div th:replace="~{layout/footer :: footerFragment }"></div>
		<!-- footer end -->
	</div>
	<!-- 페이지마다 작성될 스크립트 공간 정의 -->
	<th:block layout:fragment="customJs"></th:block>
	<script th:src="@{/assets/js/main.js}"></script>
	<script>
	let currentTarget = '';
		$(function() {
			$('.main-menu').on('click', function(e) {
				e.preventDefault();
				const target = $(this).data('target');
				if (target == 'home-panel' || target == currentTarget || target == 'calendar-panel' || target =='board-panel') {					
					$('#slide-panels').fadeOut('fast');
					$('#main').css('margin-left','100px')
					currentTarget = '';
					$(this).toggleClass('active')
					if(target == 'home-panel'){
						location.href="/egowaeyo/test"
					}
				} else if(target !='board-panel'&& target!='calendar-panel') {
					$('#main').css('margin-left','330px')
					$('#slide-panels').fadeIn('fast');
					$('#slide-panels > div').hide();
					$('#' + target).show();
					currentTarget = target;
				}
				// 드롭다운 토글 처리
			});
			    $('#bell-toggle').on('click', function (e) {
			      e.stopPropagation();
			      $('#bell-menu').slideToggle(150);
			      $('#my-menu').slideUp(150);
			      console.log( $('#my-menu'));
			    });
			    $('#my-toggle').on('click', function (e) {
			      e.stopPropagation();
			      $('#my-menu').slideToggle(150);
			     // $('#my-menu').css('display','block');
			      $('#bell-menu').slideUp(150);
			      console.log( $('#bell-menu'));
			    });
			    // 바깥 클릭 시 닫기
			    $(document).on('click', function () {
			      $('#bell-menu, #my-menu').slideUp(150);
			    });
			
		});
	</script>
	<script  th:inline="javascript">
	// 화면 호출시 로그인 한 사용자의 정보와 최근 서버시간, 세션만료 시간을 가져 온다.

function getCookie(cname) {
	  var name = cname + "=";
	  var decodedCookie = decodeURIComponent(document.cookie);
	  var ca = decodedCookie.split(';');
	  for(var i = 0; i <ca.length; i++) {
	    var c = ca[i];
	    while (c.charAt(0) == ' ') {
	      c = c.substring(1);
	    }
	    if (c.indexOf(name) == 0) {
	      return c.substring(name.length, c.length);
	    }
	  }
	  return "";
	}

	function pad(n, width) {
	  n = n + '';
	  return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
	}

var objLeftTime;
var objClickInfo;
var latestTime;
var expireTime;
var timeInterval = 1000; // 1초 간격 호출
var firstLocalTime = 0;
var elapsedLocalTime = 0;
var stateExpiredTime = false;
var logoutUrl = "uat/uia/actionLogout.do";
var timer;

function init() {
	 $.ajax("getSessionTime").done(
			 function(result){
				 if(result.loginVO != null){
				     console.log(result.egovLatestServerTime)
					 latestTime = result.egovLatestServerTime ; //getCookie("egovLatestServerTime")
					 expireTime = result.egovExpireSessionTime	 ; //getCookie("egovExpireSessionTime");
					objLeftTime = document.getElementById("leftTimeInfo");
					console.log(objLeftTime)
					if (objLeftTime == null) {
						console.log("'leftTimeInfo' ID is not exist!");
						return;
					}
					objClickInfo = document.getElementById("clickInfo");
					//console.log(objLeftTime.textContent);
				
					
					console.log("latestServerTime = "+latestTime);
					console.log("expireSessionTime = "+expireTime);
					
					elapsedTime = 0;
					firstLocalTime = (new Date()).getTime();
					showRemaining();
					
					timer = setInterval(showRemaining, timeInterval); // 1초 간격 호출
				 }
			 });
}

function showRemaining() {
	elapsedLocalTime = (new Date()).getTime() - firstLocalTime;
	
	var timeRemaining = expireTime - latestTime - elapsedLocalTime;
	if ( timeRemaining < timeInterval ) {
		clearInterval(timer);
		objLeftTime.innerHTML = "00:00:00";
		objClickInfo.text = '시간 만료'; //시간만료
		stateExpiredTime = true;
		alert('세션시간이 만료되었습니다.');//로그인 세션시간이 만료 되었습니다.
		// reload content main page
		$("#sessionInfo").hide();

		parent.frames["_content"].location.href = logoutUrl;
		//parent.frames["_content"].location.reload();

		return;
	}
	var timeHour = Math.floor(timeRemaining/1000/60 / 60); 
	var timeMin = Math.floor((timeRemaining/1000/60) % 60);
	var timeSec = Math.floor((timeRemaining/1000) % 60);
	//objLeftTime.textContent = pad(timeHour,2) +":"+ pad(timeMin,2) +":"+ pad(timeSec,2);
	//objLeftTime.outerText = pad(timeHour,2) +":"+ pad(timeMin,2) +":"+ pad(timeSec,2);
	objLeftTime.innerHTML = pad(timeHour,2) +":"+ pad(timeMin,2) +":"+ pad(timeSec,2);
	//console.log("call showRemaining() = "+objLeftTime.innerHTML);
}

function reqTimeAjax() {
	
	if (stateExpiredTime==true) {
		alert('시간을 연장 할 수 없습니다.');//시간을 연장할수 없습니다.
		return;
	}
	
	$.ajax({
	    url:'uat/uia/refreshSessionTimeout.do', //request 보낼 서버의 경로
	    type:'get', // 메소드(get, post, put 등)
	    data:{}, //보낼 데이터
	    success: function(data) {
	        //서버로부터 정상적으로 응답이 왔을 때 실행
   
      	init();
	        //alert("정상수신 , data = "+data);
	    },
	    error: function(err) {
	    	alert("err : "+err);
	        //서버로부터 응답이 정상적으로 처리되지 못햇을 때 실행
	    	//alert("오류발생 , error="+err.state());
	    }
	});
	return false;
}

function logout() {
	$("#sessionInfo").hide();

	$(location).attr('href',logoutUrl);
}

</script>
</body>
</html>