<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- th:block부분이 defalut.html 에서 지정한 layout:fragment="customContents" 영역에 들어간다.  -->

<section layout:fragment="content">
	<div class="page-content">
		<section class="row">
			<div class="col-12 col-lg-8">
				<div class="row">
					<div class="col-12 col-xl-4 dash-hi">
						<div class="col-12 h-100">
							<div class="card h-50">
								<div class="card-body py-4 px-1">
									<div
										class="d-flex gap-4 align-items-center flex-column text-center">
										<div>
											<img class="log" src="assets/images/logo/egoWAEYO.png">
										</div>
										<div class="player">
											<img src="assets/images/faces/account_circle.png" id="plImg">
											<h5 class="plName">쬰덕</h5>
										</div>
										<div  class="">
											<div class="d-flex justify-content-sm-between align-item-center">
												<button class="btn btn-warning btn-sm" id="checkin">출근</button>
												<button class="btn btn-success btn-sm" id="checkout">퇴근</button>
											</div>
											<div class="d-flex gap-5 justify-content-sm-between align-item-center">
												<span class="checkinTime">00:00</span> <span class="checkoutTime">00:00</span>
											</div>
											<div class="d-flex gap-4 jutify-content-center align-item-center">
												<div>
													<!-- <span>연차 총 00일</span> -->
												</div>
												<div class="d-flex flex-column">
													<!-- <span>사용 00일</span>
													<span>잔여 00일</span> -->
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="card h-50">
								<div class="card-header">
									<h4>메일</h4>
								</div>
								<div class="card-content pb-4">
									
									
								</div>
							</div>

						</div>
					</div>
					<div class="col-12 col-xl-8 dash-hi">
						<div class="col-12 h-100">
							<div class="card h-50">
							<div class="card-header">
									<h4>공지사항</h4>
								</div>
								<div class="card-body py-4 px-5">
									<div class="d-flex align-items-center" id="bulletBoard">
										
									</div>
								</div>
							</div>
							<div class="card h-50">
								<div class="card-header">
									<h4>미승인 전자결재</h4>
								</div>
								<div class="card-content pb-4">
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="row">
					<div class="col-12 col-xl-12 dash-hi">
						<div class="col- 12 h-100">

							<div class="card h-75">
								<div class="card-body py-4 px-5">
									 <div id='calendar' style="height:300px;"></div>
								</div>
							</div>

							<div class="card h-25">
								<div class="card-header">
									<h4>신규 게시글</h4>
								</div>
								<div class="card-body">
									<div id="chart-visitors-profile"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var userInfo = [[${session.loginVO}]];
	/*]]>*/

      document.addEventListener('DOMContentLoaded', function() {
    	const Calendar = tui.Calendar;
  		const container = document.getElementById('calendar');
  		const options = {
  				 isReadOnly: true,
  			defaultView : 'month',
  			timezone : {

  				zones : [ {
  					timezoneName : 'Asia/Seoul',
  					displayLabel : 'Seoul',
  				}, {
  					timezoneName : 'Europe/London',
  					displayLabel : 'London',
  				}, ],
  			},
  			calendars : [ {
  				id : 'cal1',
  				name : '개인',
  				backgroundColor : '#03bd9e',
  			}, {
  				id : 'cal2',
  				name : '직장',
  				backgroundColor : '#00a9ff',
  			}, ],
  		};

  		const calendar = new Calendar(container, options);
  		setAttendance()
      })
	
       if(userInfo.empPhoto && userInfo.empPhoto.trim() !== '') {
	                    // 사용자가 업로드한 프로필 사진이 있는 경우
	                	$("#plImg").attr('src', "/egowaeyo/download/" + userInfo.empPhoto);
	                } else {
	                    // 기본 프로필 사진 사용
	                    $("#plImg").attr('th:src', '/assets/images/faces/1.jpg');
	                }
      $(".plName").text(userInfo.name)
      $("#checkin").click(setAttendance)
      $("#checkout").click(setAttendance)
      
      function setAttendance(e){
    	  let url = ''
    	  if(e != undefine){
    	  console.log(e.target.id)
    	  url = '?target='+e.target.id  }
    	  $.ajax({
    			type: 'get',
    			url: '/egowaeyo/getAttend.do'+url,
    			//headers: {
    			//	"Content-Type": "application/json",
    			//},
    			//data: JSON.stringify(data),
    			success: function(result) {
    				console.log(result);
    			
    				
    			},
    			error: function(request, status, error) {
    				console.log(error);
    			}
    		});		  
      }
    </script>
</section>


</html>