<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- th:block부분이 defalut.html 에서 지정한 layout:fragment="customContents" 영역에 들어간다.  -->

<section layout:fragment="content">

	<div class="page-content">
		<section class="row">
			<div class="col-12 col-lg-8">
				<div class="row">
					<div class="col-12 col-xl-4 dash-hi">
						<div class="col-12 h-100">
							<div class="card h-50">
								<div class="card-body py-4 px-1">
									<div
										class="d-flex gap-4 align-items-center flex-column text-center">
										<div>
											<img class="log" src="assets/images/logo/egoWAEYO.png">
										</div>
										<div class="player">
											<img src="assets/images/faces/account_circle.png" id="plImg">
											<h5 class="plName">쬰덕</h5>
										</div>
										<div class="">
											<div
												class="d-flex justify-content-sm-between align-item-center">
												<button class="btn btn-warning btn-sm" id="checkin">출근</button>
												<button class="btn btn-success btn-sm" id="checkout">퇴근</button>
											</div>
											<div
												class="d-flex gap-5 justify-content-sm-between align-item-center">
												<span class="checkinTime">00:00</span> <span
													class="checkoutTime">00:00</span>
											</div>
											<div
												class="d-flex gap-4 jutify-content-center align-item-center">
												<div>
													<!-- <span>연차 총 00일</span> -->
												</div>
												<div class="d-flex flex-column">
													<!-- <span>사용 00일</span>
													<span>잔여 00일</span> -->
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="card h-50">
								<div class="card-header">
									<h4>메일</h4>
								</div>
								<div class="card-content pb-4">
								 <table class="table">
                     <thead>
                         <tr>
                             <th>보낸사람</th>
                             <th>제목</th>
                             <th class="date">날짜</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td class="sender">김민준</td>
                             <td class="subject">다음 주 프로젝트..</td>
                             <td class="date">2025-07-15</td>
                         </tr>
                         <tr>
                             <td class="sender">이수진 팀장</td>
                             <td class="subject">2분기 실적 보고서...</td>
                             <td class="date">2025-07-15</td>
                         </tr>
                        <tr>
                            <td class="sender">박서연</td>
                            <td class="subject">워크샵 관련...</td>
                            <td class="date">2025-07-14</td>
                        </tr>
                        <tr>
                            <td class="sender">최지훈</td>
                            <td class="subject">점심 식사 ..</td>
                            <td class="date">2025-07-14</td>
                        </tr>
                         <tr>
                            <td class="sender">인사팀</td>
                            <td class="subject">2025년 ..</td>
                            <td class="date">2025-07-13</td>
                        </tr>
                    </tbody>
                </table></div>
							</div>

						</div>
					</div>
					<div class="col-12 col-xl-8 dash-hi">
						<div class="col-12 h-100">
							<div class="card h-50">
								<div class="card-header">
									<h4>공지사항</h4>
								</div>
								<div class="card-body py-4 px-5">
									<div class="d-flex align-items-center" id="bulletBoard">

									</div>
								</div>
							</div>
							<div class="card h-50">
								<div class="card-header">
									<h4>미승인 전자결재</h4>
								</div>
								<div class="card-content pb-4">
									<table class="table">

										<thead>

											<tr>

												<th>문서 제목</th>
												<th>기안자</th>
												<th>요청일</th>
											</tr>

										</thead>

										<tbody>

											<tr>

												<td class="ellipsis">[지출결의서] 사무용품 구매 건</td>
												<td>박현우</td>
												<td class="date">07-15</td>
											</tr>

											<tr>

												<td class="ellipsis">[휴가신청서] 김철수 (7/21~7/25)</td>
												<td>김철수</td>
												<td class="date">07-15</td>
											</tr>

											<tr>

												<td class="ellipsis">[업무협조전] 신규 서비스 개발 관련</td>
												<td>이하나</td>
												<td class="date">07-14</td>
											</tr>

											<tr>

												<td class="ellipsis">[기획안] 3분기 마케팅 전략 보고</td>
												<td>정다은</td>
												<td class="date">07-14</td>
											</tr>

											<tr>

												<td class="ellipsis">[품의서] 외부 교육 참가 신청</td>
												<td>강동호</td>
												<td class="date">07-13</td>
											</tr>

										</tbody>

									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="row">
					<div class="col-12 col-xl-12 dash-hi">
						<div class="col- 12 h-100">

							<div class="card h-75">
								<div class="card-body py-4 px-5">
									<div id='calendar' style="height: 300px;"></div>
									<div class="mt-5">오늘 일정</div>
								</div>
							</div>

							<div class="card h-25">
								<div class="card-header pb-1">
									<h4>신규 게시글</h4>
								</div>
								<div class="card-body">
									<div id="chart-visitors-profile">
										<table class="table">
									
											<thead>
												<tr>
													<th>제목</th>
													<th>게시판</th>
													<th>작성자</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="ellipsis">이번 주 스터디 자료입니다.</td>
													<td>개발팀</td> 
													<td>송지아</td> 
												</tr>
										
												<tr>
													
													<td class="ellipsis">사내 동호회 회원 모집합니다! (볼링)</td>
													<td>자유게시판</td> 
													<td>윤태영</td>
												</tr>
												
												
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var userInfo = [[${session.loginVO}]];
	/*]]>*/
		  $.ajax({
    			type: 'get',
    			url: '/egowaeyo/getAttendToday.do',
    			//headers: {
    			//	"Content-Type": "application/json",
    			//},
    			//data: JSON.stringify(data),
    			success: function(result) {
    				console.log(result)
    				$('.checkinTime').text(result.checkin)
    				$('.checkoutTime').text(result.checkout)
    			},
    			error: function(request, status, error) {
    				console.log(error);
    			}
    		});		  
	
	
	
      document.addEventListener('DOMContentLoaded', function() {
    	const Calendar = tui.Calendar;
  		const container = document.getElementById('calendar');
  		const options = {
  				 isReadOnly: true,
  			defaultView : 'month',
  			timezone : {

  				zones : [ {
  					timezoneName : 'Asia/Seoul',
  					displayLabel : 'Seoul',
  				}, {
  					timezoneName : 'Europe/London',
  					displayLabel : 'London',
  				}, ],
  			},
  			calendars : [ {
  				id : 'cal1',
  				name : '개인',
  				backgroundColor : '#03bd9e',
  			}, {
  				id : 'cal2',
  				name : '직장',
  				backgroundColor : '#00a9ff',
  			}, ],
  		};

  		const calendar = new Calendar(container, options);
  		
      })
	
       if(userInfo.empPhoto && userInfo.empPhoto.trim() !== '') {
	                    // 사용자가 업로드한 프로필 사진이 있는 경우
	                	$("#plImg").attr('src', "/egowaeyo/download/" + userInfo.empPhoto);
	                } else {
	                    // 기본 프로필 사진 사용
	                    $("#plImg").attr('th:src', '/assets/images/faces/1.jpg');
	                }
      $("#plImg").css({
          'width': '100px',
          'height': '100px', 
          'border-radius': '50%',
          'object-fit': 'cover'
      });
      $(".plName").text(userInfo.name)
      $("#checkin").click(setAttendance)
      $("#checkout").click(setAttendance)
      function setAttendance(e){
    	  console.log("시작")
    	  let url = ''
    	  let status;
    	  if(e != 'undefine'){
    	  status = e.target.id
    	  url = '?target='+status }
    	  $.ajax({
    			type: 'get',
    			url: '/egowaeyo/getAttend.do'+url,
    			//headers: {
    			//	"Content-Type": "application/json",
    			//},
    			//data: JSON.stringify(data),
    			success: function(result) {
    				console.log(result);
    				if(status == 'checkin'){
    					//출근일때
    				if(result.result=='E01') {
    					Swal.fire({
  						  icon: "error",
  						  title: "경고",
  						  text: "이미 출근 했습니다.",
  						});
    					return
    				}
    					
    				Swal.fire({
						  icon: "success",
						  title: "출근",
						  text: "출근 하셨습니다.",
						});
    				$('.checkinTime').text(result.checkin)
    				}else if(status =='checkout'){
    					//퇴근일때
    					if(result.result=='E01') {
    					Swal.fire({
  						  icon: "error",
  						  title: "경고",
  						  text: "이미 퇴근 했습니다.",
  						});
    					return
    				}
    					
    				Swal.fire({
						  icon: "success",
						  title: "퇴근",
						  text: "퇴근 하셨습니다.",
						});
    				$('.checkoutTime').text(result.checkout)
    				}
    			},
    			error: function(request, status, error) {
    				console.log(error);
    			}
    		});		  
      }
    </script>
</section>


</html>