<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- th:block부분이 defalut.html 에서 지정한 layout:fragment="customContents" 영역에 들어간다.  -->

<section layout:fragment="content">
<div id="grid"></div>		
<script th:inline="javascript">
let gridData ;
/* const grid = new Grid({
	  el: document.getElementById('grid'),
	  columns: [
          // [Column-1] 출근일
          {
              header: '날짜',            // [필수] 컬럼 이름
              name: 'date',                 // [필수] 컬럼 매핑 이름 값
              sortable: true,                 // [선택] 컬럼의 정렬 여부
              resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
              editor: 'text',                 // [선택] 수정 옵션
              // [선택] 필터 옵션
              filter: {
                  type: 'text',
                  showApplyBtn: true,
                  showClearBtn: true
              }       
          },
          // [Column-2] 출근 상태
          {
              header: '',             // [필수] 컬럼 이름
              name: 'userNm',                 // [필수] 컬럼 매핑 이름 값
              sortable: true,                 // [선택] 컬럼의 정렬 여부
              resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
              editor: 'text',                 // [선택] 수정 옵션
              // [선택] 필터 옵션
              filter: {
                  type: 'text',
                  showApplyBtn: true,
                  showClearBtn: true
              },
              // [선택] 유효성 검증 옵션
              validation: {
                  required: true,
                  dataType: 'string',
                  regExp: /^[a-z|A-Z|ㄱ-ㅎ|가-힣|0-9 ]*$/, // [정규식] 특수문자를 제외한 공백포함 사용 가능
              },
          },
          // [Column-3] 사용자 이메일
          {
              header: '사용자 이메일',            // [필수] 컬럼 이름
              name: 'userMail',               // [필수] 컬럼 매핑 이름 값
              sortable: true,                 // [선택] 컬럼의 정렬 여부
              resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
              editor: 'text',                 // [선택] 수정 옵션
              // [선택] 필터 옵션
              filter: {
                  type: 'text',
                  showApplyBtn: true,
                  showClearBtn: true
              },
              // [선택] 유효성 검증 옵션
              validation: {
                  unique: true,               // [선택] 유일성 체크 확인 옵션
                  required: true,
                  dataType: 'string',
                  regExp: /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i
              },
          },


          // [Column-4] 사용자 나이
          {
              header: '사용자 나이',            // [필수] 컬럼 이름
              name: 'userAge',               // [필수] 컬럼 매핑 이름 값
              sortable: true,                // [선택] 컬럼의 정렬 여부
              resizable: true,               // [선택] 컬럼의 리사이즈 여부 옵션
              editor: 'text',                // [선택] 수정 옵션
              align: 'center',               // [선택] 텍스트 정렬 옵션
              // [선택] 필터 옵션
              filter: {
                  type: 'text',
                  showApplyBtn: true,
                  showClearBtn: true
              },
              // [선택] 유효성 검증 옵션
              validation: {
                  unique: true,               // [선택] 유일성 체크 확인 옵션
                  dataType: 'number',         // [선택] 데이터 타입 체크 옵션
                  required: true,             // [선택] 필수 여부 체크 옵션
                  min: 1,                     // [선택] 최소값
                  max: 100,                   // [선택] 최대값
              }
          },
          // [Column-5] 사용 여부
          {
              header: '사용자 성별',             // [필수] 컬럼 이름
              name: 'userGender',             // [필수] 컬럼 매핑 이름 값
              sortable: true,                 // [선택] 컬럼의 정렬 여부
              resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
              align: 'center',                // [선택] 텍스트 정렬 옵션
              filter: 'select',               // [선택] 필터 옵션
              formatter: 'listItemText',      // [선택] select box 옵션
              editor: {
                  type: 'radio',
                  options: {
                      listItems:
                          [
                              {text: '남성', value: "man"},
                              {text: '여성', value: "woman"},
                          ]
                  },
              },
          },

          // [Column-5] 사용자 취미
          {
              header: '사용자 취미',            // [필수] 컬럼 이름
              name: 'userHobby',             // [필수] 컬럼 매핑 이름 값
              align: 'center',               // [선택] 텍스트 정렬 옵션
              sortable: true,                // [선택] 컬럼의 정렬 여부
              resizable: true,               // [선택] 컬럼의 리사이즈 여부 옵션
              formatter: 'listItemText',     // [선택] 값을 기반으로 select box 옵션
              // [Option] 필터 옵션
              filter: {
                  type: 'select',
                  showApplyBtn: true,
                  showClearBtn: true
              },
              // [Option] select 옵션
              editor: {
                  type: 'select',
                  options: {
                      listItems: [
                          {text: "독서", value: "H1"},
                          {text: "복싱", value: "H2"},
                          {text: "스킨스쿠버", value: "H3"},
                          {text: "탁구", value: "H4"},
                      ]
                  }
              },
          },
          // [Column-5] 사용자 시퀀스 - Hidden
          {
              header: '사용자 시퀀스',            // [필수] 컬럼 이름
              name: 'userSq',                 // [필수] 컬럼 매핑 이름 값
              hidden: true,                   // [선택] 숨김 여부
          },
      ]
	}); 
 */
let data ={} ;
let url = /*[[@{/attendance}]]*/'';


getData(data)
	function getData(data){
		$.ajax({
			type : 'post',           // 타입 (get, post, put 등등)
			url :'/egowaeyo/attendList.do',           // 요청할 서버url
			headers : {              // Http header
				"Content-Type" : "application/json",
			},
			data : JSON.stringify(data),
			success : function(result) { // 결과 성공 콜백함수
					console.log(result);
			},
			error : function(request, status, error) { // 결과 에러 콜백함수
					console.log(error)
			}
	})
	}

</script>
</section>


</html>