<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<main layout:fragment="content">
	<style>
/* 사이드바 스타일 */
body {
	background: #fff;
}

.custom-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0;
	letter-spacing: -1px;
}

.custom-header {
	background: #fafafa;
	border-bottom: 2px solid #e5e5e5;
	padding: 25px 10px 20px 10px;
	margin-bottom: 0;
}

.avatar {
	width: 36px;
	height: 36px;
	background: #e5e5e5;
	border-radius: 50%;
	margin-right: 16px;
	margin-top: 5px;
	flex-shrink: 0;
}

/* content 스타일 */
</style>

	<!-- 전체 문서를 감싸는 div 시작-->
	<div class="d-flex">
		<!-- slide를 감싸는 div 시작-->
		<div id="slid" style="height: 1000px" class="col-2 border-end">
			<!-- slid 내용 시작 -->
			<div id="board-panel" class="p-4 ps-0 mt-5">
				<h5>게시판</h5>

				<ul class="no_dot mt-4 fw-bold parentsProjects">
					<!--프로젝트 목록이 동적으로 추가됩니다. -->
				</ul>


				<ul class="no_dot">
					<li><span data-bs-toggle="modal"
						data-bs-target="#addProjectModal" style="cursor: pointer;">+
							게시판추가</span></li>
				</ul>
			</div>
			<!-- slide 내용 끝 -->

		</div>
		<!-- slide 감싸는 div 끝 -->

		<!-- 내용(원본) 감싸는 div -->
		<div class="flex-grow-1 ">
			<!-- 내용(원본) 시작  -->
			<div class="custom-header">
				<div class="container-fluid">
					<div class="d-flex align-items-center justify-content-between">
						<div class="custom-title">글쓰기</div>
					</div>
				</div>
			</div>
			<!-- 상단 헤더 -->
			<!-- content -->

			<form class="bg-white p-5 rounded" enctype="multipart/form-data"
				method="post" action="articleRegister">
				<div class="mb-3 row">
					<div class="mb-3 row">
						<label for="boardSelect"
							class="col-sm-1 col-form-label text-start">게시판</label>
						<div class="col-sm-2">
							<select id="parentBoardSelect" class="form-select">
								<!-- 옵션이 JavaScript로 동적으로 추가됩니다 -->
							</select>
						</div>
						<div class="col-sm-2">
							<select id="boardSelect" class="form-select">
								<!-- 옵션이 JavaScript로 동적으로 추가됩니다 -->
							</select>
						</div>
					</div>

					<div class="mb-3 row">
						<label for="titleInput" class="col-sm-1 col-form-label text-start">제목</label>
						<div class="col-sm-12">
							<input type="text" id="titleInput" class="form-control"
								placeholder="제목을 입력하세요">
						</div>
					</div>

					<div class="mb-3 row">
						<label for="fileUpload" class="col-sm-1 col-form-label text-start">첨부파일</label>
						<div class="col-sm-11">
							<input type="file" id="fileInput" class="form-control"
								name="files" multiple>
						</div>
					</div>
					<div class="mb-3">
						<label for="contentTextarea" class="form-label">내용</label>
						<textarea id="contentTextarea" class="form-control" rows="20"
							placeholder="내용을 입력하세요"></textarea>
					</div>

					<div class="text-center">
						<button id="submitButton" type="button" class="btn btn-dark me-2">등록</button>
						<button id="cancelButton" type="button" class="btn btn-secondary">취소</button>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="article/addProjectModal :: addProjectModal"></div>
		<div th:replace="article/editProjectModal :: editProjectModal"></div>
		<script>
function openModal() {
	fetch('addProjectModal.html')
		.then(response => response.text())
		.then(html => {
			const modalContainer = document.getElementById('modal-container');
			modalContainer.innerHTML = html;
			modalContainer.classList.remove('hidden');
		})
		.catch(error => console.error('Error loading modal:', error));
}

function closeModal() {
	const modalContainer = document.getElementById('modal-container');
	modalContainer.classList.add('hidden');
	modalContainer.innerHTML = ''; // 모달 내용 초기화
}


// 프로젝트 수정 모달
function openModal() {
	fetch('editProjectModal.html')
		.then(response => response.text())
		.then(html => {
			const modalContainer = document.getElementById('modal-container');
			modalContainer.innerHTML = html;
			modalContainer.classList.remove('hidden');
		})
		.catch(error => console.error('Error loading modal:', error));
}

function closeModal() {
	const modalContainer = document.getElementById('modal-container');
	modalContainer.classList.add('hidden');
	modalContainer.innerHTML = ''; // 모달 내용 초기화
}


//사이드바
document.addEventListener("DOMContentLoaded", function () {
	fetch('/egowaeyo/bbsMaster/groupedBbsData')
		.then(response => response.json())
		.then(data => {
			console.log("Fetched Data:", data); // 디버깅 로그 추가

			const parentProjectsList = document.querySelector("ul.parentsProjects");
			if (parentProjectsList) {
				parentProjectsList.innerHTML = ""; // 기존 내용 초기화

				Object.entries(data).forEach(([codeNm, bbsList]) => {
					const groupItem = document.createElement("li");
					groupItem.textContent = codeNm;

					// 새로운 ul 태그 생성
					const subList = document.createElement("ul");

					// ul 태그에 img 추가
					const ulImg = document.createElement("img");
					ulImg.setAttribute("data-bs-toggle", "modal");
					ulImg.setAttribute("data-bs-target", "#editProjectModal");
					ulImg.setAttribute("class", "img-icon");
					ulImg.setAttribute("src", "/egowaeyo/assets/images/icon/manage.png");
					ulImg.setAttribute("style", "cursor: pointer; margin-left: 8px;");
					groupItem.appendChild(ulImg);


					bbsList.forEach(bbs => {
						// li 태그 생성
						const listItem = document.createElement("li");
						// li 태그에 no_dot 클래스 추가
						listItem.classList.add("no_dot");
						listItem.setAttribute("style", "cursor: pointer; margin-left:-20px;");
						listItem.setAttribute("data-bbs-id", bbs.bbsId); // bbsNm을 data 속성으로 추가
						listItem.setAttribute("data-code", bbs.code); // bbsNm을 data 속성으로 추가

						// img 태그 생성
						const img = document.createElement("img");
						img.setAttribute("data-bs-toggle", "modal");
						img.setAttribute("data-bs-target", "#editProjectModal");
						img.setAttribute("class", "img-icon");
						img.setAttribute("src", "/egowaeyo/assets/images/icon/manage.png");
						img.setAttribute("style", "cursor: pointer; margin-left: 8px;");

						// bbsNm 텍스트 추가
						const textNode = document.createTextNode(bbs.bbsNm);

						// li에 텍스트와 img 추가
						listItem.appendChild(textNode);
						listItem.appendChild(img);

						listItem.style.fontWeight = "normal"; // li 태그에 normal 스타일 적용
						subList.appendChild(listItem);
					});

					groupItem.appendChild(subList);
					parentProjectsList.appendChild(groupItem);
				});
				
			}
		})
		.catch(error => console.error('Error fetching grouped BBS data:', error));
});

// 게시판명 클릭 -> 헤더명 변경
document.addEventListener("DOMContentLoaded", function () {
	const parentProjectsList = document.querySelector("ul.parentsProjects");
	const customTitle = document.querySelector(".custom-title");
	const postListContainer = document.querySelector(".container-fluid.px-4");

	// 게시판 이름(li)을 클릭했을 때
	parentProjectsList.addEventListener("click", function (e) {
		const clicked = e.target;

		// 게시판 이름(li)의 텍스트 노드를 클릭했을 때만 처리
		if (clicked.tagName === "LI" && clicked.textContent.trim() !== "") {
			const bbsNm = clicked.childNodes[0].nodeValue.trim(); // 게시판 이름
			const bbsId = clicked.getAttribute("data-bbs-id"); // 게시판 ID (li에 data 속성으로 넣어야 함)

			if (!bbsId) {
		        console.warn("bbsId가 없습니다.");
		        return;
		      }

			// 제목 변경
			if (customTitle) {
				customTitle.textContent = bbsNm;
			}
		}
	});
});

// 게시판 목록 불러오기
	document.addEventListener("DOMContentLoaded", function () {
		 const parentBoardSelect = document.getElementById("parentBoardSelect");
		    const boardSelect = document.getElementById("boardSelect");

		    // API 호출
		    fetch('/egowaeyo/bbsMaster/groupedBbsData')
		        .then(response => response.json())
		        .then(data => {
		            if (!data || typeof data !== 'object') {
		                console.error("API 응답이 올바르지 않습니다:", data);
		                return;
		            }

		            // parentBoardSelect 초기화 및 옵션 추가
		            parentBoardSelect.innerHTML = "<option value=''>선택하세요</option>";
		            Object.keys(data).forEach(codeNm => {
		                const option = document.createElement("option");
		                option.value = codeNm;
		                option.textContent = codeNm;
		                parentBoardSelect.appendChild(option);
		            });

		            // parentBoardSelect 변경 이벤트 처리
		            parentBoardSelect.addEventListener("change", function () {
		                const selectedCodeNm = parentBoardSelect.value;

		                // boardSelect 초기화
		                boardSelect.innerHTML = "<option value=''>선택하세요</option>";

		                if (selectedCodeNm && data[selectedCodeNm]) {
		                    data[selectedCodeNm].forEach(bbs => {
		                        const option = document.createElement("option");
		                        option.value = bbs.bbsId;
		                        option.textContent = bbs.bbsNm;
		                        boardSelect.appendChild(option);
		                    });
		                }
		            });
		        })
		        .catch(error => console.error("게시판 목록 로드 중 오류 발생:", error));
		});
		
	// 등록 처리
	document.addEventListener("DOMContentLoaded", function () {
	    const boardSelect = document.getElementById("boardSelect");
	    const titleInput = document.getElementById("titleInput");
	    const contentTextarea = document.getElementById("contentTextarea");
	    const fileInput = document.getElementById("fileInput");
	    const submitButton = document.getElementById("submitButton");
	    const cancelButton = document.getElementById("cancelButton");
	    
	 	// 취소 버튼 항상 활성화
	    cancelButton.disabled = false;
	    
	    submitButton.addEventListener("click", function () {
	       
	        const bbsId = boardSelect.value;
	        const nttSj = titleInput.value;
	        const nttCn = contentTextarea.value;
	        const file = fileInput.files[0];
	        
	        if (!bbsId || !nttSj || !nttCn) {
	        	alert("필수 입력값이 누락되었습니다.");
	        	return;
	    	}
	        
	        const formData = new FormData();
	        formData.append("bbsId", bbsId);
	        formData.append("nttSj", nttSj);
	        formData.append("nttCn", nttCn);
	        formData.append("file", fileInput.files[0]);  // 파일 추가
	        
	        if (fileInput.files.length > 0) {
	            formData.append("files", fileInput.files[0]);
	        }

	        fetch("articleRegister.do", {
	            method: "POST",
	            body: formData,
	        })
	            .then(response =>  response.json())
	             .then(data => {
	                 alert("게시글이 성공적으로 등록되었습니다.");
	                 window.location.href = `articleList.do?bbsId=${bbsId}`;
	             })
	             .catch(error => {
	                 console.error("게시글 등록 중 오류 발생:", error);
	                 alert("게시글 등록 중 오류가 발생했습니다.");
	             });
	    });
	});
</script>
	</div>

</main>
</html>